<ul class="contact-list">


    <li>
        <a href="tel:0221-67812647"><i style=color:#568d55;" class="fas fa-fw fa-phone"></i> Telefon
        </a>
    </li>

    <li>
        <a href="tel:0176-76861049"><i style=color:#568d55;" class="fab fa-fw fa-whatsapp"></i> Whatsapp
        </a>
    </li>

    <li>
        <a href="mailto:hey@littlegreenkitchen.de"><i style="color:blue" class="far fa-fw fa-envelope"></i> Mail
        </a>
    </li>

    <li>
        <a href="https://www.instagram.com/littlegreenkitchen.cgn/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram instagram"></i> Instagram
        </a>
    </li>


</ul>
