<footer id="footer" class="site-footer footer">
  <div class="inner">
    <br>
    <a href="/imprint"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" style="color:#568d55;"></i> Impressum & Datenschutz</a>
    <br>
    <br>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}.
      Created by
      <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">
        Per Starke Web Development</a>
    <br>
    <br>
  </div>
</footer>
