<link rel="stylesheet" href="{{ '/assets/stylesheets/minimal-mistakes.css' | relative_url }}">

{% capture caption %}
Bilder von
<a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://www.google.com/maps/place/Churros+Don+Juan/@51.4945763,7.2800848,17z/data=!3m1!4b1!4m6!3m5!1s0x47b91f91ba97c8d3:0x2b02287fe25c7e88!8m2!3d51.4945763!4d7.2826597!16s%2Fg%2F11k2hpghvd?entry=ttu">
    Churros Don Juan auf Google Maps
</a>
{% endcapture %}
{% include gallery caption=caption %}