.colored-box {
    padding: 3px;
    border-radius: 3px;
    background-color: #e0f0f0;
}

.padding-box {
    padding: 15px;
}

.instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

footer.footer {
    background-color: WhiteSmoke;
}

.bold {
    font-weight: bold;
}

hr.sep {
    border-top: 2px solid WhiteSmoke;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    color: #393e46;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 30%; /* Anpassen der Breite der Boxen */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}


.stars {
  font-size: 20px;
  white-space: nowrap;
}


.stars i {
    color: gold;
}

.stars-text {
    margin-left: 10px;
    white-space: nowrap;
}

.rezension-box {
    border: 2px solid #e0f0f0;
    border-radius: 3px;
    background-color: WhiteSmoke;
}

.rezension-text {
    font-style: italic;
    font-size: 0.8em;
}

.italic {
    font-style: italic;
}

hr.rezension-sep {
    border-top: 2px solid #00838a;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #00838a;
  border: 1px solid #006c72;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  transition: background-color 0.1s ease-in-out;
}

.btn-custom:hover {
  background-color: #006c72;
}

.btn-link {
  display: inline-block;
}

        .map-container {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%; /* Hier kannst du das Seitenverhältnis der Karte einstellen (Höhe/Breite * 100) */
        }

        .map-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
